
<div class="jumbotron">
  <div class="container text-center">
      <div class="panel-body"><img src="\assets\headkkid.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
  </div>
</div>


<h1 align="center">KIDS_Collection</h1>
<div class="container">    
  <div class="row">
    <div class="col-sm-4" *ngFor="let i of kid|filter:srch">
      <div class="panel panel-primary">
        <div class="panel-heading">{{i.name}}</div>
        <div class="panel-body panel-height">
          <img src={{i.image}} class="img-responsive" style="width:150px; height:150px" alt="Image">
        </div>
        <div class="panel-footer"><a (click)="do1(i)" >price:{{i.price}}</a></div>
      </div>
    </div>
   </div>
</div>
<div *ngIf="x">
  <app-kids-des [d]="a"></app-kids-des> >
</div>
