<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

    


<div class="jumbotron">
  <div class="container text-center">
      <div class="panel-body"><img src="assets\head.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
  </div>
</div>


<h1 align="center">MOBILES</h1>
<div class="container">    
  <div class="row">
    <div class="col-sm-4" *ngFor="let i of baby">
      <div class="panel panel-primary">
        <div class="panel-heading">{{i.name}}</div>
        <div class="panel-body panel-height">
          <img src={{i.image}} class="img-responsive" style="width:150px; height:150px" alt="Image">
        </div>
        <div class="panel-footer"><a (click)="baby1(i)" >price:{{i.price}} <span style="color:red">discount 8%off</span></a></div>
      </div>
    </div>
   </div>
</div>
<div *ngIf="x">
  <app-baby-acc-description [c]="a"></app-baby-acc-description> 
</div>



</body>
</html><!-- <div class="jumbotron">
  <div class="container text-center">
      <div class="panel-body"><img src="assets\head.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
  </div>
</div>


<h1 align="center">all baby product</h1>
<div class="container">    
  <div class="row">
    <div class="col-sm-4" *ngFor="let i of Mobile">
      <div class="panel panel-primary">
        <div class="panel-heading">{{i.name}}</div>
        <div class="panel-body panel-height">
          <img src={{i.image}} class="img-responsive" style="width:150px; height:150px" alt="Image">
        </div>
        <div class="panel-footer"><a (click)="baby1(i)" >price:{{i.price}} <span style="color:red">discount 8%off</span></a></div>
      </div>
    </div>
   </div>
</div>
<div *ngIf="x">
  <app-baby-acc-description [c]="a"></app-baby-acc-description> 
</div> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
  </div>
  <img src="assets\head.jpg" style="width:100%;height:50%" alt="Image">
</nav>

<div class="border">
<div class="container">  
    <h3><b><a href="wipe">Diaper & wipes</a></b></h3>  
  <div class="row">
    <div class="col-sm-3">
     
      
          <a href="Tpic1"> 
              <div class="panel panel-primary">
                  <div class="panel-heading">Huggies-Basket</div>
                  <div class="panel-body"><img src="assets\huggies1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: ₹450</div>
          </div>
      </a>
    </div>
    <div class="col-sm-3"> 
      
          <a href="Tpic2"> 
              <div class="panel panel-primary">
                  <div class="panel-heading">Wipes</div>
            <div class="panel-body"><img src="assets\hug.jpg" class="img-responsive" style="width:60%" alt="Image"></div>
        <div class="panel-footer">Price: ₹200 </div>
        </div>
          </a>
      
    </div>
    <div class="col-sm-3"> 
      
          <a href="Tpic3">
              <div class="panel panel-primary">
                  <div class="panel-heading">Diapers</div>
        <div class="panel-body"><img src="assets\huggies3.jpg" class="img-responsive" style="width:90%" alt="Image"></div>
        <div class="panel-footer">Price: ₹2400  <span style="color:red">discount 5%</span></div>
        </div>
        </a>
      </div>
    <div class="col-sm-3"> 
        <a href="Tpic4">
        <div class="panel panel-primary">
            <div class="panel-heading">Pamper-Diapers</div>
          
          <div class="panel-body"><img src="assets\hug2.jpg" class="img-responsive" style="width:60%;height:200%" alt="Image"></div>
          <div class="panel-footer">Price: ₹1200 <span style="color:red">discount 10%</span></div>
          </div>
          </a>
    </div>
</div><br>
<div class="container">  
    <h3><b><a href="doll">Baby Bedding</a></b></h3>  
    <div class="row">
      <div class="col-sm-3">
        
          <a href="Bpic1">
              <div class="panel panel-primary">
                  <div class="panel-heading">Bed-set</div>
          <div class="panel-body"><img src="assets\bed1.jpg" class="img-responsive" style="width:85%" alt="Image"></div>
          <div class="panel-footer">Price: ₹4000  <span style="color:red">discount 15%</span></div>
          </div>
        </a>
      
      </div>
      <div class="col-sm-3"> 
        
          <a href="Bpic2">
              <div class="panel panel-primary">
                  <div class="panel-heading">Sweet-Bed</div>
          <div class="panel-body"><img src="assets\bed2.jpg" class="img-responsive" style="width:70%" alt="Image"></div>
          <div class="panel-footer">Price: ₹6000  <span style="color:red">discount 5%</span></div>
          </div>
          </a>
        
      </div>
      <div class="col-sm-3"> 
          
              <a href="Bpic3">
                  <div class="panel panel-primary">
                      <div class="panel-heading">Bed-Rajai</div>
            <div class="panel-body"><img src="assets\bed3.jpg" class="img-responsive" style="width:200%;height:100%" alt="Image"></div>
            <div class="panel-footer">Price: ₹3000 </div>
            </div>
            </a>
          
        </div>
      <div class="col-sm-3"> 
        
            <a href="Bpic4">
                <div class="panel panel-primary">
                    <div class="panel-heading">baby-bad</div>
          <div class="panel-body"><img src="assets\bedddddd.jpg" class="img-responsive" style="width:70%" alt="Image"></div>
          <div class="panel-footer">Price: ₹5000  <span style="color:red">discount 10%</span></div>
          </div>
          </a>
      </div>
      </div>
    </div>
</div><br>
  

<div class="container">   
    <h3><b><a href="ses">Baby Gifting Sets</a></b></h3> 
  <div class="row">
    <div class="col-sm-3">
     
          <a href="Spic1">
              <div class="panel panel-primary">
              <div class="panel-heading">Complete-set</div>
        <div class="panel-body"><img src="assets\gift1.jpg" class="img-responsive" style="width:70%" alt="Image"></div>
        <div class="panel-footer">Price: ₹2000  <span style="color:red">discount 10%</span></div>
              </div>
          </a>
  
  </div>
    <div class="col-sm-3"> 
     
          <a href="Spic2">
              <div class="panel panel-primary">
                  <div class="panel-heading">cloths-set</div>
        <div class="panel-body"><img src="assets\gift2.jpg" class="img-responsive" style="width:70%" alt="Image"></div>
        <div class="panel-footer">Price: ₹1500  <span style="color:red">discount 10%</span></div>
      </div>
     </a>
     
    </div>
    <div class="col-sm-3"> 
        
            <a href="Spic3">
                <div class="panel panel-primary">
                <div class="panel-heading">Bed-set</div>
          <div class="panel-body"><img src="assets\gift3.jpg" class="img-responsive" style="width:95%" alt="Image"></div>
          <div class="panel-footer">Price: ₹5000  <span style="color:red">discount 10%</span></div>
        </div>
        </a>
      </div>
    <div class="col-sm-3"> 
     
          <a href="Spic4">
              <div class="panel panel-primary">
              <div class="panel-heading">Cosmatic-set</div>
        <div class="panel-body"><img src="assets\gift4.jpg" class="img-responsive" style="width:75%" alt="Image"></div>
        <div class="panel-footer">Price: ₹500  <span style="color:red">discount 10%</span></div>
        </div>
        </a>
    </div>
  </div>
</div><br><br>
</div>
<!-- <footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer> -->

