
    <img src="\assets\amazon-gift-a-smile.png" style="width:100%" alt="Image">
<div class="container text-left">
<div class="panel panel-default">
<div class="container-fluid bg-grey">
    <h2 class="text-left"><b>Gift A Smile With Us</b></h2>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <img src="\assets\happylife.jpg" style="width:100%;height:80%" alt="Image">
      </div>
    
        <div class="row">
          <div class="col-sm-5 form-group">
            <p style="font-size:25px;"><b>‘Gift a Smile’ is our initiative for allowing people to donate to causes close to their hearts.
                Trusted organisations and 100% product delivery to the right recipients are our promise to 
                donors who aspire to ‘gift a smile’ to those less privileged in our communities.</b></p>
            
      </div>
      </div>
      </div>
      </div>
      </div>
    </div>
      <div class="container text-left">
    <p>“Drawing box,” mumbles a painfully shy nine-year-old boy,
          while his more confident schoolmates chirp in with,“lunch box” and “magic slate”.
          Happiness could really be that simple—like a little bit of hope delivered in a school bag
          for a little boy waiting for one in a remote village.
    </p>

    <p>At shopIndiashop, we believe in creating opportunities by empowering communities.
        We also believe that we have the ability to use our resources and innovative strength,
        our technology, infrastructure and market reach to create opportunities to transform lives.
        Amazon Cares is a platform that tries to create self-sustainable initiatives with the help 
        of organisations, who come with proven track records of achievable social outcomes.
        Its ‘Gift a Smile’ program is one of the many initiatives being successfully run in the 
        country at present.
    </p>      
    <p>Today, ‘Gift a Smile’ lists nearly 30-odd NGOs across 15 states, including ‘Action for Autism’ in Delhi,
        ‘Bhumi’ in Chennai, and ‘Make a Wish (India)’ in Mumbai,
        among many others. All these organisations work on a wide spectrum of social development causes ranging 
        from child health and women’s empowerment to tribal community welfare and assistance for the differently-abled. 
        Since its inception in 2015, our customers have gifted more than 40,000 smiles through their donations in
         kind to the less privileged across our country.
    </p> 
    <p>Ever since its launch, we have been continuously monitoring and evaluating the program for all-round 
        best results. Along with our tech-partner, NextGen, we constantly work on better delivery standards, 
        on NGO assessment as well as suitable NGO identification.
    </p>
    <p>The program works on the basis of NGOs displaying their ‘wish list’ of required products that can 
        be easily purchased from Amazon’s online marketplace. Shoppers can track their gift orders and
         delivery status online. On the successful delivery of their ‘smile’ packages, shoppers receive 
         an email and SMS notification. 
    </p>
    <p>The program is a convenient way of gifting the right products to social causes one wishes to 
    champion—using Amazon’s sophisticated inventory and delivery network.
     </p>       
    <p> The ‘Gift a Smile’ initiative is our promise of spreading happiness in our community.

    </p>
    </div>