<!-- <app-register></app-register> -->
<!-- <app-home-page></app-home-page> -->
<!--app-laptop></app-laptop-->
<!--app-toys></app-toys-->
<!--app-baby-accessries></app-baby-accessries-->
<!-- <app-baby-cosmetics></app-baby-cosmetics> -->
<app-dummy-home></app-dummy-home>
<!-- <app-tv></app-tv> -->
<!-- <app-mobile></app-mobile> -->
<!-- <app-gift></app-gift> -->
<!-- <app-address></app-address> -->
<!-- <app-payment></app-payment> -->
<!-- <app-kitchin-accessories></app-kitchin-accessories> -->
<!-- <app-shipping></app-shipping> -->
<!-- <app-admindata></app-admindata> -->
<!-- <app-your-account></app-your-account> -->
<!-- <app-assignment></app-assignment> -->