<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
      


<div class="jumbotron">
  <div class="container text-center">
   
    <div align="center" class="panel-body"><img src="\assets\HP-Spectre-X360-696x364356.jpg" class="img-responsive" style="width:100%"alt="Image"></div>
  </div>
</div>


<h1 align="center">Hp Laptops</h1>
<div class="container">    
  <div class="row">
   
    <div class="col-sm-4">
       <div class="panel panel-primary">
        <div class="panel-heading">Latest Hp Laptop </div>
        <div class="panel-body"><img src="assets\hp-probook.jpg" class="img-responsive" style="width:98%" alt="Image"></div>
        <div class="panel-footer">Price; ₹48880<span style="color:red">discount 10%</span></div>
              </div>
              
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Hp EliteBook</div>
        <div class="panel-body"><img src="assets\elitbook.jpg" class="img-responsive" style="width:90%" alt="Image"></div>
        <div class="panel-footer">Price; ₹52580<span style="color:red">Flat discount 10%</span></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Hp-Probook</div>
        <div class="panel-body"><img src="\assets\hp probook2.jpg" class="img-responsive" style="width:85%" alt="Image"></div>
        <div class="panel-footer">Price: ₹62350  <span style="color:red">discount 10%</span></div>
      </div>
    </div>
  </div>
</div><br>

<h1 align="center">DELL</h1>
<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Dell-inspiron</div>
          <div class="panel-body"><img src="\assets\dell-inspiron1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Price: ₹500000 <span style="color:red">discount 10%</span></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">Dell-skylake-laptops</div>
          <div class="panel-body"><img src="\assets\dell-skylake-laptops2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Price: ₹66000<span style="color:red">discount 10%</span></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">DellXPS9360</div>
          <div class="panel-body"><img src="\assets\DellXPS9360-3.jpg" class="img-responsive" style="width:65%" alt="Image"></div>
          <div class="panel-footer">Price: ₹52365<span style="color:red">discount 10%</span></div>
        </div>
      </div>
    </div>
  </div><br>
  
  <h1 align="center">APPLE</h1>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Apple-laptop</div>
        <div class="panel-body"><img src="assets\5k4m2lla c5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: ₹45302<span style="color:red">discount 10%</span></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Apple-Macbook</div>
        <div class="panel-body"><img src="assets\rosegold-macbook-1.jpg" class="img-responsive" style="width:83%" alt="Image"></div>
        <div class="panel-footer">Price: ₹55236<span style="color:red">discount 10%</span></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Apple-laptop</div>
        <div class="panel-body"><img src="\assets\a339392-apple-macbook-pro-15-inch-2013.jpg" class="img-responsive" style="width:73%" alt="Image"></div>
        <div class="panel-footer">Price: ₹65000  <span style="color:red">discount 10%</span></div>
      </div>
    </div>
  </div>
</div><br><br>



</body>
</html>