<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

  <div class="jumbotron">
    <div class="container text-center">
        <img src="assets\front.jpg">
      <h1>TOYS Store</h1>      
    </div>
  </div>

  


<div class="border">
<div class="container">  
    <h3><b><a href="Teddy">Teddies</a></b></h3>  
  <div class="row">
    <div class="col-sm-3">
     
      <div class="panel panel-primary">
          <a href="Tpic1"> <div class="panel-body"><img src="assets\teddies.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: ₹450</div>
      </a>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
          <a href="Tpic2"> <div class="panel-body"><img src="assets\teddy.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: ₹1000 </div>
          </a>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
          <a href="Tpic3">
        <div class="panel-body"><img src="assets\teddy2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Price: ₹2400  <span style="color:red">discount 5%</span></div>
        </a>
      </div>
    </div>
    <div class="col-sm-3"> 
        <div class="panel panel-primary">
            <a href="Tpic4">
          <div class="panel-body"><img src="assets\puppies.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Price: ₹1200 <span style="color:red">discount 10%</span></div>
          </a>
        </div>
      </div>
  </div>
</div><br>
<div class="container">  
    <h3><b><a href="doll">Dolls and DollsHouse</a></b></h3>  
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-primary">
          <a href="Bpic1">
         
          <div class="panel-body"><img src="assets\doll set.jpg" class="img-responsive" style="width:150%" alt="Image"></div>
          <div class="panel-footer">Price: ₹4000  <span style="color:red">discount 15%</span></div>
        </a>
        </div>
      </div>
      <div class="col-sm-3"> 
        <div class="panel panel-primary">
          <a href="Bpic2">
          <div class="panel-body"><img src="assets\dollhouse.jpg" class="img-responsive" style="width:150%" alt="Image"></div>
          <div class="panel-footer">Price: ₹6000  <span style="color:red">discount 5%</span></div>
          </a>
        </div>
      </div>
      <div class="col-sm-3"> 
          <div class="panel panel-primary">
              <a href="Bpic3">
            <div class="panel-body"><img src="assets\dolls.jpg" class="img-responsive" style="width:50%" alt="Image"></div>
            <div class="panel-footer">Price: ₹3000 </div>
            </a>
          </div>
        </div>
      <div class="col-sm-3"> 
        <div class="panel panel-primary">
            <a href="Bpic1">
          <div class="panel-body"><img src="assets\dolls-accessories.jpg" class="img-responsive" style="width:80%" alt="Image"></div>
          <div class="panel-footer">Price: ₹5000  <span style="color:red">discount 10%</span></div>
          </a>
        </div>
      </div>
    </div>
</div><br>
  

<div class="container">   
    <h3><b><a href="ses">Playing Toys</a></b></h3> 
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
          <a href="Spic1">
        <div class="panel-body"><img src="assets\topppy.jpg" class="img-responsive" style="width:85%" alt="Image"></div>
        <div class="panel-footer">Price: ₹2000  <span style="color:red">discount 10%</span></div>
        </a>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
          <a href="Spic2">
        <div class="panel-body"><img src="assets\topppppp.jpg" class="img-responsive" style="width:80%" alt="Image"></div>
        <div class="panel-footer">Price: ₹1500  <span style="color:red">discount 10%</span></div>
        </a>
      </div>
    </div>
    <div class="col-sm-3"> 
        <div class="panel panel-primary">
            <a href="Spic3">
          <div class="panel-body"><img src="assets\racing cars.png" class="img-responsive" style="width:95%" alt="Image"></div>
          <div class="panel-footer">Price: ₹5000  <span style="color:red">discount 10%</span></div>
          </a>
        </div>
      </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
          <a href="Spic4">
        <div class="panel-body"><img src="assets\spinner.jpg" class="img-responsive" style="width:70%" alt="Image"></div>
        <div class="panel-footer">Price: ₹500  <span style="color:red">discount 10%</span></div>
        </a>
      </div>
    </div>
  </div>
</div><br><br>
</div>
<!-- <footer class="container-fluid text-center">
  <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer> -->

</body>
</html>

