   <head>
    <style>
      form {
          background-color: lightblue;
      }
    </style>
   </head>
   <body>
   
   
   <div align="center">
       <div class="d-flex justify-content-center">
           <form class="jumbotron" #ref="ngForm" (ngSubmit)="readData(ref)">

   
   
   <h1 align="center">Log in</h1>
    <div class="form-group">
    <label><b>Email</b></label>
      <input type="text" name="mail" placeholder="Enter UserName" #mail="ngModel" [(ngModel)]="email"
        required minlength="3"  ngModel>
      <label *ngIf="!mail.valid && mail.touched" ><span style="color:red">username is mandatory</span></label>
      <label *ngIf="mail.control.hasError('minlength')"><span style="color:red">, atlest 3 letter required</span></label>
 </div>
<div class="form group">
    <label class="control-label" >Password</label>
    <input type="password" name="pws" placeholder="enter password" #pws="ngModel" [(ngModel)]="password"
   ngModel>
  </div>

      <div class="form-group">
        <div class="controls">
          <button click="m1"class="btn btn-large btn-success">login</button><div *ngIf="x"><label>{{y}}</label></div>
        </div>
</div>
<div class="form-group">
  <div class="controls">
   <a href="#" >forget password?</a><br>
  <button class="btn btn-large btn-success" (click)="callToRouter()">Register</button>
  </div>
  </div>
  </form>
  </div>
  </div>
  </body>