<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      /* Remove the navbar's default rounded borders and increase the bottom margin */ 
      .navbar {
        margin-bottom: 50px;
        border-radius: 0;
      }
      
      /* Remove the jumbotron's default bottom margin */ 
       .jumbotron {
        margin-bottom: 0;
      }
     
      /* Add a gray background color and some padding to the footer */
      footer {
        background-color: #f2f2f2;
        padding: 25px;
      }
    </style>
  </head>
  <body>
  
  <div class="jumbotron">
    <div class="container text-center">
        <img src="/assets/Savvy-TV_banner.jpg" style="width:100%" alt="Image">
      <h1>Televisions store</h1>      
      
    </div>
  </div>
  
 
  <h1 align="center">SONY SMART TVS</h1>
  <hr>
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">SONY 40"W600B BRAVIA            
          </div>
          <div class="panel-body"><img src="/assets/sony.jpeg" class="img-responsive" style="width:97%" alt="Image"></div>
          <div class="panel-footer"><a (click)="callsonyjpeg()"><h4> Price ₹28,491</h4> </a></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-danger">
          <div class="panel-heading">SONY 32" Full Hd </div>
          <div class="panel-body"><img src="\assets\tv2.jpg" class="img-responsive" style="width:90%" alt="Image"></div>
          <div class="panel-footer"><h4> Price ₹ 22,315.50</h4></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">SONY BRAVIA KLV</div>
          <div class="panel-body"><img src="/assets/sonybravia klv.jpg" class="img-responsive" style="width:90%" alt="Image"></div>
          <div class="panel-footer"><h4> Price ₹38,018</h4></div>
        </div>
      </div>
    </div>
  </div><br>
  <h1 align="center">SAMSUNG SMART TVS</h1>
  <hr>
  <div class="container">    
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">SAMSUNG UE46H500</div>
            <div class="panel-body"><img src="/assets/SamsungUE46EH5300front-1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer"><h4>Price ₹ 36,499</h4></div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="panel panel-danger">
            <div class="panel-heading">SAMSUNG 32" HD</div>
            <div class="panel-body"><img src="/assets/SAMSUNG2.jpg" class="img-responsive" style="width:98%" alt="Image"></div>
            <div class="panel-footer"><h4>Price ₹ 26,499</h4></div>
          </div>
        </div>
        <div class="col-sm-4"> 
          <div class="panel panel-success">
            <div class="panel-heading">SAMSUNG CURVED 32" FULL HD</div>
            <div class="panel-body"><img src="\assets\tv1.jpg" class="img-responsive" style="width:87%" alt="Image"></div>
            <div class="panel-footer"><h4>Price ₹ 16,499</h4></div>
          </div>
        </div>
      </div>
    </div><br>
    <h1 align="center">VU SMART TVS</h1>
    <hr>
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">VU 55" Smart Tv</div>
          <div class="panel-body"><img src="/assets/VU-55inch-SMART-TV.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer"><h4>Price ₹ 30,499</h4></div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">VU 40" Smart Tv</div>
          <div class="panel-body"><img src="\assets\tv3.jpg" class="img-responsive" style="width:93%" alt="Image"></div>
          <div class="panel-footer">Price ₹ 25,350</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">VU 32" Smart Tv<</div>
          <div class="panel-body"><img src="/assets/Vu3.jpeg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer"><h4>Price ₹ 18,350</h4></div>
        </div>
      </div>
    </div>
  </div><br><br>
  
  <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
  </footer>
  
  </body>
  </html>
